package com.nguyenmp.csil;

/**
 * Dynamically loads credentials
 * Rename this file to Credentials.java and
 * fill in the USERNAME and PASSWORD fields
 */
public class Credentials {
    public static final String USERNAME = "", PASSWORD = "";
}
